{% load static %}
<!-- Bootstrap CSS -->
<link
rel="stylesheet"
type="text/css"
href="{% static 'home/css/bootstrap.min.css' %}"
/>

<!--CanvasJS-->
<script src="{% static 'home/can/canvasjs.min.js' %}"></script>

<!--Chartjs-->
<!--<script src="{% static 'home/chartjs/chart.js' %}"></script><!--

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% include 'partials/nav.html' %}

    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
    
    <script src="{% static 'home/js/jquery.js' %}"></script>
    <script src="{% static 'home/js/bootstrap.js' %}"></script>
    
</body>
</html>