{% extends 'partials/base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="row mt-3 pt-3">
    <div class="col-md-6">
        <script>
            window.onload = function () {
            
            var chart = new CanvasJS.Chart("singlechartContainer", {
                animationEnabled: true,
                theme: "light2", // "light1", "light2", "dark1", "dark2"
                title:{
                    text: "PMS Analytics"
                },
                axisY: {
                    title: "Number of Vehicles"
                },
                data: [{        
                    type: "column",  
                    showInLegend: true, 
                    legendMarkerColor: "grey",
                    legendText: "DataSeries 1",
                    dataPoints: [      
                        { y: 80, label: "Complete" },
                        { y: 40, label: "Near Due" },
                        { y: 15, label: "Lapse" },
                    ]
                }]
            });
            chart.render();
            
            }
            </script>
        <div id="singlechartContainer" style="height: 300px; width: 100%;"></div>
    </div>
    <div class="col-md-6">
        <!--Add Next Chart Here-->
    </div>
</div>
{% endblock %}